<div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Usuário</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Ações</th>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td><a routerLink="#">{{usuario.nome}}</a></td>
                    <td>{{ usuario.login }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.senha }}</td>
                    <td>
                        <app-button-edit></app-button-edit>
                        <app-button-delete></app-button-delete>
                        
                    </td>
                </tr>
            </tbody>
        </table>
</div>
