<div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Usuário</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Ações</th>
                </tr>
            </thead>
        
            <tbody>
                <tr>
                    <td><a routerLink="#">Luana Paes</a></td>
                    <td>luana_paes</td>
                    <td>luanapaes.dev.com</td>
                    <td>luanadev27</td>
                    <td>
                        <app-button-edit></app-button-edit>
                        <app-button-delete></app-button-delete>
                        
                    </td>
                </tr>
                <tr>
                    <td><a routerLink="#">Clara França</a></td>
                    <td>clara_f0</td>
                    <td>clara.adv.com</td>
                    <td>claraadv123</td>
                    <td>
                        <app-button-edit></app-button-edit>
                        <app-button-delete></app-button-delete>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
