<div class="table-container" *ngIf="usuarios.length > 0; else tabelavazia">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Usuário</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Ações</th>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td><a routerLink="#">{{usuario.nome}}</a></td>
                    <td>{{ usuario.login }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.senha }}</td>
                    <td>
                        <app-button-edit (click)="editarUsuario(usuario)"></app-button-edit>
                        <app-button-delete (click)="deletarUsuario(usuario)"></app-button-delete>
                        
                    </td>
                </tr>
            </tbody>
        </table>
</div>
<ng-template #tabelavazia>
    <p class="else-msg">Nenhum usuário cadastrado.</p></ng-template>
